<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Nicole Postma Therapy + Movement</title>

  <link rel="icon" type="image/png" href="{{ get_url(path="images/favicon.png") }}" />


  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ get_url(path="css/custom.css?v=01") }}">



</head>




<body class="baseBKG">



  

  <div class="container navBumper"></div>
  <div class="container navBumper"></div>
  <div class="container navBumper"></div>
  <div class="container navBumper"></div>


  <!--This is the Nav Bar-->

  <nav class="navbar navbar-expand-md navbar-light bg-white fw-light dropShadows">
    
    <div class="container-fluid">


      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav txtZ nav-fill w-100">

    
          <li class="nav-item">
              <a href="{{ get_url(path='@/home/_index.md') }}#articleTop" title="home" class="divBlur link-dark link-underline link-underline-opacity-0 align-middle navBarCustom">
              home
              </a>
          </li>

          <li class="nav-item">
              <a href="{{ get_url(path='@/about_nicole/_index.md') }}#articleTop" title="about nicole" class="divBlur link-dark link-underline link-underline-opacity-0 align-middle navBarCustom">
              about nicole
              </a>
          </li>


          <li class="nav-item">
              <a href="{{ get_url(path='@/TCTSY/_index.md') }}#articleTop" title="TCTSY" class="divBlur link-dark link-underline link-underline-opacity-0 align-middle navBarCustom">
              TCTSY
              </a>
          </li>


          <li class="nav-item">
              <a href="{{ get_url(path='@/somaticTherapy/_index.md') }}#articleTop" title="somatic therapy" class="divBlur link-dark link-underline link-underline-opacity-0 align-middle navBarCustom">
              somatic therapy
              </a>
          </li>


          <li class="nav-item">
              <a href="{{ get_url(path='@/resources/_index.md') }}#articleTop" title="resources" class="divBlur link-dark link-underline link-underline-opacity-0 align-middle navBarCustom">
              resources
              </a>
          </li>
      

          <li class="nav-item">
              <a href="{{ get_url(path='@/training/_index.md') }}#articleTop" title="training" class="divBlur link-dark link-underline link-underline-opacity-0 align-middle navBarCustom">
              training
              </a>
          </li>


          <li class="nav-item">
              <a href="{{ get_url(path='@/bookOnline/_index.md') }}#articleTop" title="book online" class="divBlur link-dark link-underline link-underline-opacity-0 align-middle navBarCustom">
              book online
              </a>
          </li>

        </ul>
      </div>
    </div>
  </nav>


  <!-- end of div containing the navbar -->

  <div class="container navBumper"></div>
  <div class="container navBumper"></div>


  <!--The animated logo over top of the beach photo-->
  <div class="artWindow">

    <video autoplay muted playsinline class="artWindow_logo dropShadows">
      <!-- HEVC with alpha for Safari -->
      <source src="{{ get_url(path="videos/logoReveal_transparent_H265.mov") }}" type='video/mp4; codecs="hvc1"'>
      <!-- WebM with alpha for Chrome/Firefox/Edge -->
      <source src="{{ get_url(path="videos/logoReveal_transparent_VP9.webm") }}" type="video/webm; codecs=vp9">
      
      <!-- image fallback -->
      <img src="{{ get_url(path="images/NicoleLogo-bw.png") }}" alt="nicole postma" />
    
    </video>


 
    <img src="{{ get_url(path="images/StoneOnSand_01.jpg") }}" class="artWindow_art" alt="" />

  </div>  
  <!-- this SHOULD be the end of the container for the top artWindow -->




  <!--This is the body of the page you're on as described in articleTemplate-->


  <section class="section">
      {% block content %} {% endblock %}
  </section>




  <!--a little buffer to put before the footer content-->

  <div class="container-fluid fw-light p-0 bg-white dropShadows">
    <div class="row justify-content-center">
      <div class="col pt-3">
        <p class="txtZ"> </p>

      </div>
    </div>
  </div>


  <!--This is the footbar that sits on the bottom of the page-->


  <div class="container-fluid fw-light">
    <div class="row">


      <!--contact info built with another container inside its column-->
      <div class="txtZ col-md-6 d-flex bg-white dropShadows">


        <div class="container-md pb-3 fw-light">

          <!--email-->
          <div class="row pt-3">

            <a href="mailto:npostmamsw@gmail.com" class="col-11 p-0 d-flex justify-content-end align-items-center link-dark link-underline link-underline-opacity-0">
              <span class="divBlur">npostmamsw@gmail.com</span>
            </a>

            <div class="col-1 p-0">
              <a href="mailto:npostmamsw@gmail.com" class="socialIconsContainer d-flex justify-content-center align-items-center">
                <img src="{{ get_url(path="images/envelope-01.png") }}" class="socialIcons divBlur" alt="email" />
              </a>
            </div>

          </div>


          <!--insta-->
          <div class="row">

            <a href="https://www.instagram.com/npostmamsw?igsh=aTZiYmZjd2doOHF6" target="_blank" class="col-11 p-0 d-flex justify-content-end align-items-center link-dark link-underline link-underline-opacity-0">
              <span class="divBlur">@npostmamsw</span>
            </a>

            <div class="col-1 p-0">
              <a href="https://www.instagram.com/npostmamsw?igsh=aTZiYmZjd2doOHF6" target="_blank" class="socialIconsContainer d-flex justify-content-center align-items-center">
                <img src="{{ get_url(path="images/insta-01.png") }}" class="socialIcons divBlur" alt="insta" />
              </a>
            </div>

          </div>


          <!--phone-->
          <div class="row">

            <div class="col-11 p-0 d-flex justify-content-end align-items-center link-dark link-underline link-underline-opacity-0">
              <span class="divBlur">(905) 650-9570</span>
            </div>

            <div class="col-1 p-0">
              <div class="socialIconsContainer d-flex justify-content-center align-items-center">
                <img src="{{ get_url(path="images/phone-01.png") }}" class="socialIcons divBlur" alt="phone" />
              </div>
            </div>

          </div>


          <!--location
          <div class="row pb-3">

            <a href="https://maps.app.goo.gl/QrvqSxC5zN9YRVyj6" target="_blank" class="col-11 p-0 d-flex justify-content-end align-items-center link-dark link-underline link-underline-opacity-0">
              <span class="divBlur">320 Vansickle Road, St. Catharines</span>
            </a>

            <div class="col-1 p-0">
              <a href="https://maps.app.goo.gl/QrvqSxC5zN9YRVyj6" target="_blank" class="socialIconsContainer d-flex justify-content-center align-items-center link-dark link-underline link-underline-opacity-0">
                <img src="{{ get_url(path="images/location-01.png") }}" class="socialIcons divBlur" alt="location" />
              </a>
            </div>

          </div>
-->

        </div>

      </div>


      <!--decorative art window to the right of the contact info-->
      <div class="col-md-6 p-0">

          <div class="articleImage_Container">
              <img src="{{ get_url(path="images/PinkFlowers_01.jpeg") }}" class="articleImage_R articleImage" alt="" />
          </div>

      </div>

    

    </div>
  </div>






  <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <script>
  // Select all elements to animate
  const boxes = document.querySelectorAll(['.divBlur', '.artWindow_art', '.articleImage', '.quoteCircle']);

  // Create Intersection Observer
  const observer = new IntersectionObserver((entries, obs) => {
    entries.forEach(entry => {
      if (entry.isIntersecting) {
        entry.target.classList.add('animated');
        // Optional: stop observing once animated
        obs.unobserve(entry.target);
      }
    });
  }, {
    threshold: 0.2 // Trigger when 20% of element is visible
  });

  // Observe each box
  boxes.forEach(box => observer.observe(box));
</script>



</body>

</html>