{% extends "base.html" %}

{% block content %}
<div class="container-md fw-light">

  <div class="row justify-content-center p-3">

    <div class="col-6">
      <img src="{{ get_url(path="images/logo_01.png") }}" class="float-end img-fluid" alt="WP" />
    </div>

    <div class="col-6">
      <img src="{{ get_url(path="images/blog_01.png") }}" class="float-start img-fluid" alt="| bio" />
    </div>

  </div>


  <div class="row p-3">
    <div class="col">

      <ul>
        <!-- If you are using pagination, section.pages will be empty.
            You need to use the paginator object -->  

        {% for page in section.pages %}

        <div class="row justify-content-center p-3">
          <div class="col-sm-2">

            <a href="{{ page.permalink | safe }}" class="d-flex justify-content-sm-end">
          
              <div>
                {% for asset in page.assets -%}
                  {%- if asset is matching("[.](jpg|jpeg|png)$") -%}
                    {% set image = resize_image(path=asset, width=100, height=100) %}
                      <img src="{{ image.url }}" class="img-fluid" />
                  {%- endif %}
                {%- endfor %}
              </div>

            </a>

          </div>

          <div class="col-sm-6">

            <a href="{{ page.permalink | safe }}" class="link-dark link-underline link-underline-opacity-0 link-underline-opacity-100-hover">
              <h2 class="fw-lighter">
              {{ page.title }}
            </h2>
            <p>
              {{ page.date }}
            </p>
            </a>

          </div>
        </div>

          {% endfor %}

      </ul>

    </div>
  </div>

</div>
{% endblock content %}